
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  /* font-family: Plus Jakarta Sans; */
  background-color: #ced4da;
}
svg {
  width: 30px;
  height: 30px;
  margin: 15px;
}

dl,
ol,
ul {
  margin-top: 82px;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  font-size: 18px;
  padding: 8px 16px;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

/* --------sidebar------------ */
.side-bar {
  min-height: 100vh;
  width: 20em;
  background-color: #fff;
}

.logo-text {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  text-align: center;
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* a:hover{
  color: white;
  background-color: #4F4F4F;
  width: 100%;
} */

.logout {
  background-color: #fff4f4;
  display: block;
  color: #cb1010;
  border-radius: 8px;
  text-align: center;
}

/* --------topnav--------- */
.container-body {
  width: calc(100% - 20em);
}

.topnav {
  /* border: 1px solid blue; */
  height: 80px;
  width: 100%;
  background-color: #fff;
}

.nav {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left i {
  font-size: 24px;
  margin-right: 10px;
}

.top-text {
  border-radius: 20px;
  background: #f1e6fc;
  padding: 8px 15px 8px 15px;
}

.svg-wrap {
  border: 1px solid #eaeaea;
  padding: 5px;
  border-radius: 5px;
}

.img-svg {
  margin: 0;
  width: 25px;
  height: 25px;
}

.topbar {
  border-radius: 8px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6 {
  margin: 35px;
  font-weight: 500;
  font-size: 25px;
}

h2 {
  font-size: 50px;
}

small {
  font-size: 17px;
}

.card {
  border-radius: 5px;
  height: 135px;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 2px 2px #fff;
}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.kpi .col-md-4 {
  margin-bottom: 15px;
}
.kpi .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.transparentbar {
  background-color: transparent;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #eaeaea;
}

/*----------Table----------- */

table {
  background: #fff;
  text-align: center;
  border-radius: 8px;
}

.span-text {
  padding: 3px 10px;
  font-size: 13px;
}

.table th {
  border-bottom: 1px solid #e4e4e4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-gap {
  padding-right: 40px;
  padding-left: 40px;
}

/* ----------Password settings-------- */

.password-section {
  height: 100vh;
}

.password-settings {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.password {
  border-radius: 16px;
  background: #fff;
  width: 100%;
  max-width: 574px;
  padding: 33px 28px;
  /* padding: 40px 31px 66px 40px ; */
}

.password-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  font-size: 24px;
}

.form-control {
  padding: 0.75rem;
  display: inline;
}

.beside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input {
  padding-top: 20px;
}

label {
  display: block;
  /* padding-bottom: 5px; */
}

.password-btn {
  background-color: #4f4f4f;
  border: none;
  width: 100%;
  color: white;
  height: 52px;
  border-radius: 8px;
}
@media (max-width: 576px) {
  .password {
    padding: 15px 10px;
  }
}

@media (max-width: 768px) {
  .sm-sidebar {
    display: none;
  }
  .container-body {
    width: 100%;
  }
  .nav {
    padding: 22px 8px;
  }
  .m-gap {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (min-width: 769px) {
  .nav-left a {
    display: none;
  }
}
